<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>issue page</title>
    <link rel="stylesheet" href="./css/common.css" /><!--CSS for <header> <footer> "hamburger menu" ONLY-->
    <link rel="stylesheet" href="./css/issue.css" />
</head>
<body>
    <% var formatTime = function(text) { return text < 10 ? '0' + text : text } %>
    <div id="HamburgerMenu">
      <a href="/"><img id="hamLogo" src="./image/logo.png" /></a>
      <ul>
        <li>
          <% if(isAuthenticated){ %>
            <a href=""><%= user.name %></a>
          <% } else { %>
            <a href="/auth/facebook">Facebook登入</a>
          <% } %>
        </li>
        <li id="hamNick">
          <% if(isAuthenticated){ %>
            <p>目前暱稱:<%= user.nickname %></p>
          <% } %>
        </li>
        <li><a href="/issueList">議題列表</a></li>
        <li>
          <% if(isAuthenticated){ %>
            <a href="/post">發表議題</a>
          <% } %>
        </li>
        <li>
          <% if(isAuthenticated){ %>
            <a href="/logout">登出</a>
          <% } %>
        </li>
        <li id="hamSearch">
          <input type="text" id="searchInput">
          <img src="./image/searchIcon.png" id="searchIcon">
        </li>
      </ol>
    <img src="./image/blackCross.png" alt="" id="hamCross">
    </div><!--place between <body> and <header>-->
    <div id="shadeCover"></div><!--place between <body> and <header>-->
    <header><!--Same <header> in every page-->
      <div class="container">
        <a href="/"><img id="Logo" src="./image/logo.png" /></a>
        <img id="HamburgerIcon" src="./image/hamburgerIcon.png" />
      </div>
    </header>
    <div class="container">
      <div id="TopicSection">
          <div id="TopicSectionLeft">
              <div id="issueTitle">
                <div id="titleContainer">
                  <h1>標題</h1>
                  <h1><%= issue.category %></h1>
                </div>
                  <div><%= issue.name %></div>
              </div>
              <div id="issueDescription">
                  <h1>議題描述</h1>
                  <div>
                    <% if(issue.desc){
                        if(issue.desc.indexOf("http") != -1 || issue.desc.indexOf("https") != -1){
                        if(issue.desc.indexOf(".jpg") != -1 || issue.desc.indexOf(".jpeg") != -1 ||
                           issue.desc.indexOf(".png") != -1 || issue.desc.indexOf(".gif") != -1) { %>
                             <a href=<%= issue.desc %>>
                               <img src=<%= issue.desc %> alt="" id="descImg">
                             </a>
                        <% } else if(issue.desc.indexOf("www.youtube.com") != -1) {
                             var text = issue.desc;
                             var vid = text.substring(text.indexOf("?v=") + 3, text.length);
                             var embedUrl = "https://www.youtube.com/embed/" + vid + "?rel=0" %>
                             <iframe width="560" height="315" src=<%= embedUrl %> frameborder="0" allowfullscreen id="descYt"></iframe>
                        <% } else { %>
                        <a href=<%= issue.desc %>><p class="commentText"><%= issue.desc %></p></a>
                        <% }
                      } else { %>
                        <p class="commentText"><%= issue.desc %></p>
                     <% }
                   } %>
                  </div>
              </div>
              <div id="posterOpinion">
                <h1>樓主看法</h1>
                <p><%= issue.opinion %></p>
              </div>
          </div>
          <div id="TopicSectionRight">
              <div id="posterInfo">
                <% var date = issue.time;
                var timeString = formatTime(date.getMonth() + 1) + '/' + formatTime(date.getDate()) + ' ' + formatTime(date.getHours()) + ":" + formatTime(date.getMinutes()); %>
                <h1>Info</h1>
                <div><%= issue.startedBy %> 發表於 <%= timeString %></div>
              </div>
          </div>
      </div>


      <% if(isAuthenticated){ %>
        <!--有登入才可回應-->
        <div id="replySection">
          <input type="text">
          <button>回應</button>
        </div>
      <% } %>

      <div id="CommentSection">
        <% for(var i = issue.comments.length - 1;i >= 0;i--){
            var date = issue.comments[i].time;
            var timeString = '@' + formatTime(date.getMonth() + 1) + '/' + formatTime(date.getDate()) + ' ' + formatTime(date.getHours()) + ":" + formatTime(date.getMinutes());
            var comment = issue.comments[i].comment; %>
          <div class="comment">
            <div class="nickname"><p><%= issue.comments[i].name %></p></div>
            <div class="reply">
              <% if(comment){
                   if(comment.indexOf("http") != -1 || comment.indexOf("https") != -1){
                      if(comment.indexOf(".jpg") != -1 || comment.indexOf(".jpeg") != -1 ||
                         comment.indexOf(".png") != -1 || comment.indexOf(".gif") != -1 ||
                         comment.indexOf("www.youtube.com") != -1) { %>
                        <p class="commentText"><%= comment %></p>
                        <button class="expand">展開</button>
                      <% } else { %>
                        <a href=<%= comment %>><p class="commentText"><%= comment %></p></a>
                      <% } %>
                <% } else { %>
                  <p class="commentText"><%= comment %></p>
                <% } %>
                <p><%= timeString %></p>
              <% } %>
            </div>
          </div>
        <% } %>
      </div>
    </div>
    <footer><!--Same <footer> in every page-->
        <h1>Copyrights in footer, maybe?</h1>
    </footer>
    <script src="./js/jquery-3.0.0.min.js"></script><!--Link to script for hamburger menu after </footer>-->
    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
    <script src="./js/hamburgerMenu.js"></script><!--Link to script for hamburger menu after </footer>-->
    <script src="./js/issue.js"></script>
</body>
</html>
