<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./css/common.css">
    <Link rel="stylesheet" type ="text/css" href="./css/issueList_L.css">
    <title></title>
  </head>

  <body>
    <div id="HamburgerMenu"><!---->
    </div>
    <div id="shadeCover">
    </div>
    <header><!---->
      <div class="container">
        <a href="/"><img id="Logo" src="./image/logo.png" /></a>
        <img id="HamburgerIcon" src="./image/hamburgerIcon.png" />
      </div>
    </header>
    <div class="container">

      <div class = "issue_list">
        <p>議題列表</p>
      </div>

      <div id="issueContainer">
        <div class = "hot_issue">
          <div class="issueSectionTitle"><p>熱門議題</p></div>
          <% if(hot){
            hot.forEach(function(entry){
              var link = '/issue?title=' + entry.name %>
              <div class="issueEntry">
                <a href=<%= link %>>
                  <p><%= entry.name %></p>
                </a>
                <div>
                  <img src="./image/messageIcon.png" alt="">
                  <p><%= entry.commentsCount %></p>
                </div>
              </div>
          <%});
          } %>
        </div>

        <div class = "latest_issue">
          <div class="issueSectionTitle"><p>最新議題</p></div>
          <% if(latest){
            latest.forEach(function(entry){
              var link = '/issue?title=' + entry.name;
              var date = entry.time;
              var timeString = (date.getMonth() + 1) + '/' + date.getDate() + ' ' + date.getHours() + ":" + date.getMinutes(); %>
              <div class="issueEntry">
                <a href=<%= link %>>
                  <p><%= entry.name %></p>
                </a>
                <div>
                  <img src="./image/clock.png" alt="">
                  <p><%= timeString %></p>
                </div>
              </div>
          <%});
          } %>
        </div>
      </div>

      <a href="/allIssue">
        <div class = "all_issue">
          <p>全部議題</p>
        </div>
      </a>

    </div>
    <footer>
      <p>Copyrights in footer, maybe?</p>
    </footer>
  </body>
  <script src="./js/jquery-3.0.0.min.js"></script>
  <script src="./js/hamburgerMenu.js"></script>
</html>
