<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./css/common.css">
  <link rel="stylesheet" href="./css/search.css">
  <title>Document</title>
</head>
<body>
  <div id="HamburgerMenu"><!---->
  </div>
  <div id="shadeCover">
  </div>
  <header><!---->
    <div class="container">
      <a href="/"><img id="Logo" src="./image/logo.png" /></a>
      <img id="HamburgerIcon" src="./image/hamburgerIcon.png" />
    </div>
  </header>

  <div class="container">
    <h1><%= search.text %> 的搜尋結果</h1>
    <a href="./issueList.html"><<返回列表</a>
    <div id="searchResultContainer">
    <% if(search.result){
         if(search.result.length > 0){
           for(var i = 0; i < search.result.length; i++){
             var link = "/topic?title=" + search.result[i].name;
             var date = search.result[i].time;
             var timeString = (date.getMonth() + 1) + '/' + date.getDate() + ' ' + date.getHours() + ":" + date.getMinutes();%>
             <div class="searchResult">
               <a href=<%= link %>>
                 <div class="titleContainer"><p><%= search.result[i].name %></p></div>
               </a>
               <div class="dateContainer"><p><%= timeString %></p></div>
               <div class="messageCount">
                 <img src="./image/messageIcon.png" alt="">
                 <p><%= search.result[i].commentsCount %></p>
               </div>
             </div>
           <% } %>
        <% } else{ %>
           <div class="noResult"><h1>查無結果!</h1></div>
        <% } %>
    <% } %>
    </div>
  </div>
  <script src="./js/jquery-3.0.0.min.js"></script>
  <script src="./js/hamburgerMenu.js"></script>
</body>
</html>
