<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>議題</title>
</head>
<body>
  <h1>議題</h1>

  <%if (isAuthenticated) { %>
    <h1>嗨! <span id="userName"><%= user.name %></span>! 準備好嘴砲了嗎?</h1>
    <p>你現在的身分是:<span id="nickname"><%= user.nickname %></span></p>
    <%if (user.isAdmin) { %>
      <!--只有是管理者才會出現這個按鈕-->
      <a href="/admin"><button>後臺管理</button></a>
    <% } %>
    <input type="text" id="nicknameText">
    <button id="changeNickname">更改暱稱</button>
    <button id="logout">登出</button>
    <p>你已經登入!!</p>
  <% }else{ %>
    <p>你沒有登入!!</p>
  <% } %>

  <a href="/topicList">回到列表</a>

  <h2 id="topicTitle"><%= topic.name %></h2>

  <!-- 登入後才可回應 -->
  <%if (isAuthenticated) { %>
    <input type="text" class="commentText">
    <button class="sendComment">回應</button>
  <% } %>
  <ul id="commentList">
    <% for(var i = topic.comments.length - 1; i >= 0; i--) { %>
      <li>
        <span class="commentBy"><%= topic.comments[i].name %></span>:
        <% var date = topic.comments[i].time;
           var timeString = '@' + date.getFullYear() + '/' + (date.getMonth() + 1) + '/' + date.getDate() + ' ' + date.getHours() + ":" + date.getMinutes();
           if(topic.comments[i].comment.indexOf(".jpg") != -1 ||
              topic.comments[i].comment.indexOf(".jpeg") != -1 ||
              topic.comments[i].comment.indexOf(".png") != -1 ||
              topic.comments[i].comment.indexOf(".gif") != -1) { %>
             <a href=<%= topic.comments[i].comment %>>
               <img src=<%= topic.comments[i].comment %> alt="" style="max-width: 400px">
             </a>
        <% } else if(topic.comments[i].comment.indexOf("www.youtube.com") != -1){
          var text = topic.comments[i].comment
          var vid = text.substring(text.indexOf("?v=") + 3, text.length);
          var embedUrl = "https://www.youtube.com/embed/" + vid + "?rel=0" %>
          <iframe width="560" height="315" src=<%= embedUrl %> frameborder="0" allowfullscreen></iframe>
        <% } else{ %>
          <%= topic.comments[i].comment %>
        <% } %>
        <%= timeString %>
      </li>
    <% } %>
  </ul>

  <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
  <script src="./js/jquery-2.2.4.min.js"></script>
  <script src="./js/topic.js"></script>
</body>
</html>
